<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
</head>

<body>
        
<section class="100vh bg-image" style="background-color: black; height: 739px;">
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-4 display-6" style="font-size: 2vw;" >Upload File</h2>

        <form method="post" action="/uploadfile_post/{{ id }}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group form-outline mb-4">
                <label for="" class="text-dark">File:</label>
                <input type="file" name="file3" class="form-control" accept="file/*">
                
            </div>
            

            <div class="d-flex justify-content-center">
              <button type="submit"
                class="btn btn-block btn-lg gradient-custom-4 " style="background-color: red; color: white;"> upload</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
    </section>
    </div>
   
</body>

</html>



